@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
 
 * {
    box-sizing: border-box;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.menu{
    width: 13rem;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
a {
    color: #08fdd8;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    /* background: #1d1d1d; */
    display: block;
    min-width: 320px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.logo span {
    color: #fff;
    margin-top: 1px;
    font-size: 2.2rem;
    text-decoration: none;
}
.logo img {
    width: 7rem;
    height: auto;
}
.menu_top>span {
    font-family: 'Open Sans';
    color: #a5a5a5;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 30px;
}
.menu_top{
    background: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
}
.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #282828;
}
.nav a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: #909096;
    line-height: 5.5rem;
    border-bottom: 1px solid #282828;
}
.social {
    color: #909096;
    padding: 0;
    list-style: none;
    display: flex;
    height: 20rem;
    margin-top: 40px;
}

li {
  margin: 0 15px;
}

.section-home {
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-full {
    min-height: 100vh;
    padding: 9rem 3rem;
    position: relative;
    /* opacity: 0; */
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.section-home .text-zone {
    position: relative;
    z-index: 1;
}

.section-full .text-zone {
    padding-left: 5rem;
}
h1 {
    color: #fff;
    margin: 0;
    /* font-family: font-file-82132; */
    font-weight: 800;
    font-size: 1rem;
    line-height: 8rem;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
h2 .blast, h1 .blast {
    font-size: 120px
    /* opacity: 0; */
    /* display: inline-block; */
    /* -webkit-transition: all 0.3s ease-out; */
    /* -o-transition: all 0.3s ease-out; */
    /* transition: all 0.3s ease-out; */
}
/* @media screen and (max-width: 900px)
h1 {
    font-size: 8rem;
    line-height: 7rem;
}
@media screen and (max-width: 1100px)
h1 {
    font-size: 8.3rem;
    line-height: 7rem;
} */
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;

}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #d8d4d4;
    font-size: 1.8rem;
    position: absolute;
    margin-top: -5rem;
    left: -1.5rem;
}
h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore',cursive;
    color: #d8d4d4;
    font-size: 1.8rem;
    position: absolute;
    margin-top: 3.8rem;
    margin-left: 2rem;
}

.text-zone:before {
    content: '<body>';
    font-family: 'La Belle Aurore',cursive;
    color: #d8d4d4;
    font-size: 1.8rem;
    position: absolute;
    margin-top: -3rem;
    left: -1.5rem;
}

.gray-text:before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #d8d4d4;
    font-size: 1.8rem;
    position: absolute;
    margin-top: -4rem;
    left: -1.5rem;
}
.gray-text:after {
    content: '<p/>';
    font-family: 'La Belle Aurore',cursive;
    color: #d8d4d4;
    font-size: 1.8rem;
    position: absolute;
    margin-top: 2rem;
    margin-left: 1rem;
}

.animation-logo {
    padding: 0%;
    margin: 0;
    width: 120px;
    height: 120px;
}
.text-zone{
    margin-top: 60px;
}
.text-zone p {
    position: relative;
    margin-bottom: 1.5rem;
}
.gray-text {
    font-size: 1.6rem;
    letter-spacing: 4px;
    margin-top: 3rem;
    display: block;
    color: #dfd9d9;
    font-weight: 400;
}
.flat-button  {
   border: 2px solid black;
}
.blast{
cursor: pointer;
text-transform: uppercase;
transition: 0.5s;
}

.blast:hover {
color: #fff;
text-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
}

.btn{
    padding: 20px 100px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background: none;
    box-shadow: 0 5px 5px 5px;
}

.btn:hover{
    background: #181818;
    box-shadow: 0 5px 5px 5px #23d5ab;
}